.bg{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
}
.container{
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
}
.header{
  background-color: rgba(0,0,0,0.41);
  width: 100%;
  height: 54px;
  margin-bottom: 65px;
}
.heading{
font-family: Verdana, sans-serif;
color:  #fff;
font-size: 20px;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
height: 54px;
margin-left: 100px;
}
.heading p{
  margin:auto 0;
  text-align: center;
  line-height: 54px;
}
.heading p:hover{
  color:#3cb878;
}
.info{
  display: inline-block;
  float:right;
}
.calendar{
  display: inline-block;
  width: 24px;
  height: 22px;
  background: url(..//img/icons.png) no-repeat;
  background-position: -4px -4px;
  margin-right: 25px;
  margin-top: 15px;
}
.calendar:hover{
  background-position: -4px -34px;
}
.paper{
  display: inline-block;
  width: 24px;
  height: 22px;
  background: url(..//img/icons.png) no-repeat;
  background-position: -36px -4px;
  margin-right: 25px;
}
.paper:hover{
    background-position: -36px -34px;
}
.compass{
  display: inline-block;
  width: 20px;
  height:22px;
  background: url(..//img/icons.png) no-repeat ;
  background-position: -72px -4px;
  margin-right: 25px;
}
.compass:hover{
    background-position: -72px -34px;
}
.words{
  vertical-align: top;
  line-height: 54px;
  display: inline-block;
  padding-right: 75px;
  color: white;
 }
.words a{
  color:#3cb878;
  text-decoration: none;
 }
.words a:hover{
  text-decoration: underline;
 }
.menu{
  position: relative;
  left:0;
  right:0;
  margin: 0 auto;
  background-color: #fff;
  width:444px;
  height:584px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  display: block;
 }
.square{
  position:relative;
  display: inline-block;
  top: 25px;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}
.sign{
  position:relative;
  display: inline-block;
  font-family: Verdana;
  color:  #434343;
  font-size: 20px;
  font-weight: 400;
  top: 25px;
  left: 20px;
}
.log{
  color:#3cb878;
  text-decoration: none;
  position:relative;
  display: inline-block;
  left: 250px;
  top: 25px;
}
.log:hover{
  text-decoration: underline;
}
.buttons{
  position: relative;
  top: 45px;
  display: flex;
  align-content:space-between;
  padding: 0 25px 0 25px;
}
.button{
  position:relative;
  display: block;
  font-family: Verdana;
  color:  #ffffff;
  border-radius: 3px;
  background-color: #df4a32;
  border:none;
  padding: 15px;
  margin: 0 10px 0 10px;
  width: 177px;
}
.logo{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-right: 15px;
  border-right: 1px solid rgb(190, 190, 190, 0.17);
}
.buttonContent{
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.button:nth-child(odd){
  background-color: #305db8;
}
.gap{
position:relative;
top: 60px;
text-align: center;
}
.gap p{
  font-family: Verdana;
  color:  #848484;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
}
.strip{
display: inline-block;
width: 175px;
height: 1px;
background-color: rgb(234, 234, 234);
margin: 0 15px 3px 15px
}
.inputs{
  text-align: center;
  position:relative;
  top: 80px;
}
.inputs input{
font-size: 14px;
font-weight: 400;
line-height: 21px;
border-radius: 3px;
width: 320px;
height: 40px;
margin: 10px 0 5px 0;
border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc;
padding: 0 10px;
}
.inputs input:focus{
color: #434343;
outline: none;
box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.fin{
position:relative;
top: 95px;
padding: 0 61px;
font-family: Verdana;
color:  #434343;
font-size: 14px;
font-weight: 400;
line-height: 21px;
}
.fin a{
color:#3cb878;
text-decoration: none;
}
.fin a:hover{
  text-decoration: underline;
}
.fin input{
  position: relative;
  top: 3px;
  margin: 0 3px 0 0;
  width: 15px;
  height: 15px;
}
.create{
text-align: center;
padding-top: 15px;
}
.create button{
font-family: Verdana;
color: #fff;
width: 322px;
height: 46px;
border-radius: 3px;
background-color: #3cb878;
border:none;
font-size: 16px;
font-weight: 400;
line-height: 21px;
}
button:hover{
  background-color: #FFA500;
  cursor: pointer;
}
.button:hover {
  background-color: #FFA500;
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
