.container{
  width:1050px;
  margin: 0 auto;
  height: 100vh;
}
.bg{
  background-image: url(..//images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  color: white;
padding: 20px 0;
}
.logo{
  text-align: left;
  height: 64px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
  .logoimg{
    width: 64px;
    height: 64px;
    float: left;
    background-image: url(..//images/logo.png);
    background-position: 0px 0px;
  }
  .logo:hover .logoimg {
   background-position: 66px 64px;
  }
  .logo:hover .words{
    color: #f26522;
  }
  .words{
  height: 64px;
  display: inline-block;
  }
  .heading{
  padding-top: 16.5px;
  font-size: 29px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  }
  .subheading{
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  }
  .contacts{
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    float: right;
    text-align: right;
  }
  .tours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1050px;
  }
  .tour{
    width: 308px;
    position: relative;
    display: inline-block;
    color: white;
    float:left;
    margin-bottom: 20px;
  }
  .tour p{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
  .tour:nth-of-type(3n){
    margin-right: 0;
  }
  .tour:hover{
    color: #f26522;
  }
  .tour-info{
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #f26522;
    bottom: 24px;
    opacity: 0;
    transition: 0.3s opacity linear;
  }
  .tour:hover .tour-info{
    opacity: 1;
  }
  .desc{
    padding: 0 20px;
    line-height: 21px;
    font-family: Verdana, sans-serif;
}
.desc p:first-child{
    float: left;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:  white;
}
.desc p:last-child{
    float: right;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color:  white;
}
.desc:after{
    display: table;
    content: '';
    clear: both;
}
.from{
    padding-left: 21px;
    display:inline-block;
    text-align: left;
    padding-top: 15px;
    font-family: Verdana, sans-serif;
    color:  white;
    font-size: 10px;
}
  .footer{
    padding-top: 40px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }
