body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 50%);
  z-index: 1;
}

.starWarsText {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawlingText {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawling 30s linear;
}

.crawlingText > .title {
  font-size: 90%;
  text-align: center;
}

.crawlingText > .title h3 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawling {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
