body{
  background-color: #374765;
  color: #484848;
  font-family: "Arimo", sans-serif;
}
.prisingTable{
  margin: 60px auto;
  text-align: center;
  text-transform: uppercase;
  border-collapse: collapse;
}
.plan{
  background-color: #fafafa;
  color: #484848;
  width: 310px;
  height: 156px;
  vertical-align: middle;
}
.type{
  width: 277px;
  height: 70px;
  background-color: #89c331;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.type:nth-child(3){
  background-color: #f04a56;
  font-size: 30px;
}
.type:nth-child(4){
  background-color: #20807c;
  font-size: 24px;
}
.upper{
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.lower{
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
}
.prisingTable tr{
  background-color: #f2f2f2;
}
.prisingTable tr:nth-child(even){
  background-color: #e3e3e3;
}
.prisingTable td {
  border: 1px solid #d8d8d8;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.priceBg{
  text-align: center;
  background-color: #fafafa;
}
.pricePlace{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 100px auto auto;
  grid-template-areas:
  'mp c c'
  'mp d d';
}
  tr td .button{
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  border-radius: 5px;
  background-color: #484848;
  width: 192px;
  height: 49px;
  border: none;
  padding: 15px 0;
  margin: 20px 0;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
td:nth-child(2) .button{
  background-color:#89c331;
  box-shadow: 0px 9px 0px rgba(122, 177, 34, 1);
}
td:nth-child(3) .button {
  background-color:#f04a56;
  box-shadow: 0px 9px 0px rgba(224, 55, 68, 1);
}
td:nth-child(4) .button {
  background-color:#20807c;
  box-shadow: 0px 9px 0px rgba(14, 116, 111, 1);
}
td:hover .button{
 color:#3e3e3e;
 background-color:#DAA520;
 box-shadow: 0px 9px 0px rgba(184, 134, 11, 1);
}
.mainPrice{
  grid-area: mp;
  background-color: transparent;
  color:  #484848;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
.cent{
  grid-area: c;
  background-color: transparent;
  color:  #484848;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.duration{
  grid-area: d;
  background-color: transparent;
  color:  #484848;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
td tr i{
  color: #484848;
}
